
@import 'blk';
@import 'basscss';
@import 'basscss-base-forms';
@import 'basscss-input-range';
@import 'basscss-color-forms';
@import 'basscss-color-input-range';
@import 'rebass';

.p0 { padding: 0 }
.no-border { border: 0 }
.no-select { user-select: none }

:root {
	--font-family: 'Avenir Next', 'Hevletica Neue', sans-serif;
}

.headline {
	font-size: 70px;
	text-decoration: none;
}

.headline a:hover {
	text-decoration: none;
}

.nightBorder {
	border-color: white;
}

.dayBorder {
	border-color: red;
}

.hideControls {
	display: none;
}

.visualCard {
	border: red solid 1px;
}

.flex > div {
    /*flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;*/
}

.cardWrapper {
	border: 1px solid var(--red);
}

.cardText {
	font-size: 14px;
	min-width: 50vw;
}

@media (--breakpoint-sm) {
	.cardText {
		font-size: 14px;
		min-width: 40vw;
	}
}

@media (--breakpoint-md) {

	.cardText {
		font-size: 16px;
		min-width: 25vw;
	}
}

@media (--breakpoint-lg) {

	.cardText {
		font-size: 18px;
		min-width: 20vw;
	}
}

